#offer{
  background-color: #8591B5;
  min-height: 60vh;
  width: 100%;
  padding-top: 40px;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
}

/* Slides */
.mySlides {
  display: none;
  padding: 40px;
  text-align: center;
  background-color: #8591B5;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  left: 0;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #8591B5;
  color: rgb(255, 255, 255);
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: #8591B5;
    margin-top: -10px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #000000;
  border-radius: 40%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {
  font-style: italic;
}

/* Add a blue color to the author */
.author {
  color: cornflowerblue;
}

.offer{
  padding-top: 35px;
  padding-bottom: 30px;
}

.rowff {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.colff {
  flex: 1 1;
  padding-right: 80px;
  padding-left: 80px;
}
.mySlides {
  background-color:  #8591B5;
}
.off-h1{
  font-size: 28px;
  color: #000000;
}
.off-p1{
  font-size: 20px;
  color: #000000;
}
.off-h2{
  font-size: 28px;
  color: #000000;
}
.off-p2{
  font-size: 20px;
  color: #000000;
}

a:not([href]):not([tabindex]) {
  color: #000000;
  text-decoration: none;
}