.column-stat {
  flex: 0 1 21%; 
  padding: 10px; 
  box-sizing: border-box; 
}

.stat_bg, .row-stat {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px 0; 
}

.stat_bg {
  height: auto;
}

.row-stat {
  height: auto;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column-stat {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .row-stat {
    padding-top: 50px;
    height: auto;
  }

  .stat_bg {
    height: auto;
  }
}

h3 {
  margin-top: 8px;
  color: #000000;
  font-size: 27px;
}

.card-stat h2 {
  color: rgb(0, 0, 0);
  font-size: 30px;
  margin-top: 19px;
}

.card-stat p {
  color: #000000;
  margin-top: -24px;
  font-size: 18px;
}

.card-stat {
  position: relative;
  overflow: hidden;
  z-index: 0;
  border-radius: 10px;
  box-shadow: 0 7px 10px 0 rgb(0, 0, 0);
  padding: 16px;
  text-align: center;
  background-color: #ffffff;
  height: 171px;
  width: 233px;
  background-size: contain;
  transition: transform 0.3s ease;
}

.card-stat:hover {
  transform: translateY(-12px); 
}

.card-stat::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 255, 255, 0.5);
  animation: glow 2s infinite alternate;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px 0 rgba(0, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 20px 10px rgba(0, 255, 255, 0.5); 
  }
}

.center-box {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}