.portfolio-container {
  text-align: center;
}

.subtitle {
  font-size: 24px;
  margin-bottom: 20px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.image-wrapper {
  position: relative;
}

.hover-image {
  width: 300px; /* Adjust the width as needed */
  height: auto;
  transition: transform 0.3s ease;
}

.image-name {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: none; /* Hidden by default, shown on hover */
}

.image-wrapper:hover .image-name {
  display: block;
}