.footer {
  scroll-behavior: smooth;
  background-color: #001641;
  color: #fff;
  padding: 20px 0; /* Reduced padding */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 0 20px; /* Reduced padding */
}

.footer-left, .footer-middle, .footer-right {
  flex: 1;
}

.footer-logo {
  width: 150px;
  height: auto;
  margin-bottom: 10px; /* Reduced margin */
  display: block;
}

.footer-description {
  text-align: left;
  margin-bottom: 30px; /* Reduced margin */
}

.footer-icons {
  display: flex;
  gap: 15px; /* Adjust the gap as needed */
  margin-top: 20px;
}

.footer-icons a {
  color: #ffffff; /* Adjust the color as needed */
  font-size: 20px; /* Adjust the size as needed */
  transition: color 0.3s;
}

.footer-icons a:hover {
  color: #8591B5; /* Adjust the hover color as needed */
}

.footer-links, .footer-contact {
  margin-bottom: 10px; /* Reduced margin */
}

.footerNav a {
  color: #ffffff;
  list-style: none;
  padding: 0;
}

.footer-bottom {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px; /* Reduced padding */
  border-top: 1px solid #444;
}

.footer-bottom-links {
  display: flex;
  gap: 10px;
}
