.footer {
  scroll-behavior: smooth;
  background-color: #001641;
  color: #fff;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.footer-left, .footer-middle, .footer-right {
  flex: 1;
}

.footer-logo {
  width: 150px;
  height: auto;
  margin-bottom: 10px;
  display: block;
}

.footer-description {
  text-align: left;
  margin-bottom: 30px;
}

.footer-icons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.footer-icons a {
  color: #ffffff;
  font-size: 20px;
  transition: color 0.3s;
}

.footer-icons a:hover {
  color: #8591B5;
}

.footer-links, .footer-contact {
  margin-bottom: 10px;
}

.footerNav a {
  color: #ffffff;
  list-style: none;
  padding: 0;
}

.footer-bottom {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-top: 1px solid #444;
}

.footer-bottom-links {
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-left, .footer-middle, .footer-right {
    flex: none;
    width: 100%;
    margin-bottom: 20px;
  }

  .footer-icons {
    justify-content: center;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-bottom-links {
    justify-content: center;
    margin-top: 10px;
  }
}

@media screen and (max-width: 480px) {
  .footer-logo {
    width: 120px;
  }

  .footer-icons a {
    font-size: 18px;
  }

  .footer-bottom {
    font-size: 10px;
    padding: 5px 10px;
  }
}
