/* Navigation bar styles */
nav.navbar {
  padding: 9px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
  background-color: #0a0a0a;
}

nav.navbar.scrolled {
  padding: 5px 0;
  background-color: #000000;
}

/* Logo styling */
nav.navbar .navbar-brand {
  display: flex;
  align-items: center;
}

nav.navbar .navbar-brand img.logo {
  max-width: 150px;
  height: auto;
  margin-left: 20px;
  margin-top: 10px;
}

/* Nav link styling */
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #ffffff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
  transition: opacity 0.3s, color 0.3s;
  background-color: transparent; /* Ensure background color is transparent */
  border: none; /* Ensure no border is applied */
  margin: 0; /* Reset margin */
}

nav.navbar .navbar-nav .nav-link.navbar-link:hover,
nav.navbar .navbar-nav .nav-link.navbar-link.active {
  color: #ffffff;
  opacity: 1;
  background-color: transparent; /* Ensure no background color is applied */
  border: none; /* Ensure no border is applied */
  font-weight: bolder;
}

/* Navbar toggle button styles */
.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-image: none;
  width: 24px;
  height: 24px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #000000;
  position: absolute;
}

.navbar-toggler-icon::before {
  top: 6px;
}

.navbar-toggler-icon::after {
  bottom: 6px;
}

/* Navbar link underline effect */
.navbar-link {
  position: relative;
  text-decoration: none;
}

.navbar-link::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  transition: width 0.3s ease-in-out;
}

.navbar-link:hover::after,
.navbar-link.active::after {
  width: 100%;
}

/* Adjustments for mobile responsiveness */
@media (max-width: 768px) {
  nav.navbar .navbar-nav .nav-link.navbar-link {
    padding: 10px;
    font-size: 16px;
  }

  nav.navbar .navbar-brand img.logo {
    max-width: 120px;
    margin-left: 15px;
    margin-top: 5px;
  }
}